* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  max-width: 2560px;
  font-family: "Roboto", sans-serif;
}

.sidebar {
  background: #5597ff;
  padding: 10px 0 0 10px;
  color: white;
}

.dashboard {
  display: flex;
  align-items: center;
  gap: 10px;
}
.dashboard img {
  width: 10%;
  filter: grayscale(100%);
  filter: invert(100%);
}

.home {
  align-items: center;
}
.content {
  padding: 40px 0px 15px 4px;
  display: flex;
  flex-direction: column;
}
.content div {
  display: flex;
  gap: 15px;
  padding-bottom: 10px;
}
.content div img {
  width: 7%;
  filter: grayscale(100%);
  filter: invert(100%);
}

.main {
  width: 100%;
  background: #00000017;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.header {
  background: white;
}

.line1 {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.notify {
  width: 20px;
  height: 20px;
}

.logo {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

input {
  border-radius: 20px;
  background: url("asset/search.png");
  background-position: 5px 50%;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
  width: 200px;
  height: 20px;
  background-color: #00000017;
  border: none;
}

.line2 {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  align-items: center;
}

.img-text,
.img-text1 {
  display: flex;
  gap: 10px;
}

.img-text img,
.img-text1 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

button {
  padding: 5px 15px 5px 15px;
  font-size: 0.7rem;
  font-weight: bold;
  color: white;
  background: #5597ff;
  border-radius: 20px;
  border: none;
}

.project-card {
  background: #2d355998;
  border-radius: 15px 15px 15px 15px;
  margin: 10px;
  box-shadow: 2px 2px 10px gray;
  flex-shrink: 1;
  flex-grow: 1;
  width: 30%;
}

.project-card img {
  width: 100%;
  border-radius: 0 15px 0 0;
}

.brown {
  margin-left: 12px;
  background: whitesmoke;
  border-radius: 0 15px 15px 0;
  height: 100%;
}

.brown div {
  padding: 5px 10px 0 10px;
}

.image-logo {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.image-logo img {
  width: 20px;
  padding: 10px 0 10px 0;
  background: #ffffeaf7;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

button a {
  color: white;
}

.announcement p,
h3 {
  padding: 20px 0 0 10px;
}

.all-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.btn {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 25%;
  justify-content: flex-end;
}

.btn button {
  flex-grow: 1;
  flex-shrink: 1;
}

.announce {
  border-bottom: 1px solid gray;
  padding: 30px 20px 20px 20px;
}

.container {
  flex-direction: column-reverse;
  background: whitesmoke;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 2px 2px 10px gray;
}

.annouce-container {
  padding: 10px;
  flex-shrink: 1;
  flex-grow: 1;
}
.annouce-container h3 {
  padding: 10px 0 10px 0;
  font-size: 1rem;
}
.img-text1 p {
  font-size: 0.9rem;
}

.img-text1 {
  padding: 30px 20px 20px 20px;
}

.announce-trend {
  flex-shrink: 1;
  width: 32%;
}

.card-announce {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.announcement {
  flex-shrink: 1;
  width: 68%;
}
